:root{
    margin: 0 0;
};


.header {
    margin: 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
  }
  
 